section.about-section
  .wrapper
    .about-section__container
      .about-section__box
        img.about-section__icon(src="images/about-section-icon.png" loading="lazy" width="109" height="118" alt="icon")
        h2.about-section__title.font-w-bold.font-s-44.text-up.color-black
          span.mark-blue Станьте экспертами 
          | в области 
          br.no-br
          | строительства и ремонта 
          br.no-br
          | с франшизой 
          span.mark-blue «VEDOM»
      ul.about-section__inner.font-w-os-regular.font-s-20
        li.about-section__text
          | «Компания VEDOM основана в 2020 году. Мы занимаемся 
          br.no-br
          | строительством удобных для жизни и работы зданий и сооружений, 
          br.no-br
          | используя только качественные материалы, новые технологии и 
          br.no-br
          | постоянный инженерный контроль на всех объектах.
        li.about-section__text
          | Мы начинали с отделочных работ, затем добавили в список услуг 
          br.no-br
          | строительство фундаментов и после масштабировались до общестроительных 
          br.no-br
          | работ. Коллектив VEDOM — настоящие эксперты своего дела с большим 
          br.no-br
          | опытом и множеством положительных отзывов от довольных заказчиков.
        li.about-section__text
          | Будем рады передать наши знания партнерам в новых регионах. Франшиза VEDOM 
          br.no-br
          | — это проверенная бизнес-модель с быстрой окупаемостью, которая позволит вам 
          br.no-br
          | открыть собственную строительно-ремонтную компанию уже через 30 дней после 
          br.no-br
          | подписания договора».
        img.about-section__house(src="images/about-section-house.png" loading="lazy" width="1115" height="742" alt="house")
      img.about-section__arrow(src="images/about-section-arrow.svg" loading="lazy" width="36" height="29" alt="arrow")
      .about-section__bottom
        .about-section__info
          img.about-section__logo-name(src="images/about-section-logo-name.png" loading="lazy" width="221" height="43" alt="logo")
          .about-section__bottom-center.font-w-os-regular.font-s-18 Напишите нам!
          .font-w-bold.font-s-32.text-up
            | Ждем 
            span.mark-blue-2 ваши вопросы 
            br
            | по франшизе!
        form.about-section__form(data-feedback-form)
          textarea.input.input--textarea.about-item(type="text" name="answer" autocomplete="off" placeholder="Ваш вопрос")
          input.input.input--bg-white.about-item(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
          input.input.input--bg-white.about-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
          button.btn.btn--bg-black.about-item(type="submit") Получить

      //-   img.about-section__logo(src="images/about-section-logo.png" loading="lazy" width="640" height="280" alt="logo")
      //- .about-section__content
      //-   .font-s-24.about-section__content-title
      //-     | «BERNIE'S PUB» — популярный, современный и атмосферный паб в английском стиле, 
      //-     br.no-br
      //-     | который ежемесячно посещают более 2200 гостей. Мы предлагаем вкусные авторские 
      //-     br.no-br
      //-     | блюда, огромный выбор пива и напитков, тематические вечера, концерты и трансляции 
      //-     br.no-br
      //-     | спортивных матчей. Первый паб был запущен в 2020 году в Сыктывкаре, со временем мы 
      //-     br.no-br
      //-     | запустили второй филиал и сегодня готовимся к открытию третьего паба.
      //-   img.about-section__lines(src="images/main-section-lines.svg" loading="lazy" width="388" height="12" alt="lines")
      //-   .font-s-20
      //-     | Заведения такого формата пользуются огромной популярностью, о чем свидетельствует регулярная 
      //-     br.no-br
      //-     | полная посадка в наших пабах и большое количество положительных отзывов от гостей.
      //-     br
      //-     br
      //-     | Открывая компанию в этой нише по франшизе, вы получаете возможность сразу воспользоваться готовой 
      //-     br.no-br
      //-     | бизнес-моделью, не тратя время и деньги на совершение ошибок и исправление их последствий. Мы 
      //-     br.no-br
      //-     | передадим вам все инструкции и регламенты, составим меню, поможем с выбором наилучшей локации 
      //-     br.no-br
      //-     | и привлечением большого числа клиентов.
      //-     br
      //-     br
      //-     | Будем рады видеть в числе наших новых партнеров целеустремленных и активных людей, которые готовы 
      //-     br.no-br
      //-     | развивать и масштабировать свой собственный английский паб по франшизе.
      //- .about-section__bottom
      //-   .font-w-ledger.font-s-32.text-center.mark-yellow С удовольствием ответим на ваши вопросы!
      //-   form.about-section__form(data-feedback-form)
      //-     input.input.about-item-answer(type="text" name="answer" autocomplete="off" placeholder="Ваш вопрос")
      //-     input.input.about-item(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
      //-     input.input.about-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
      //-     button.btn.about-item(type="submit") задать
