section.city-section
  .wrapper
    .city-section__container
      img.city-section__logo(src="images/city-section-logo.png" loading="lazy" width="148" height="48" alt="logo")
      h2.city-section__title.font-w-bold.font-s-44.text-up
        | Откройте строительно-
        br
        | ремонтную компанию
        br
        span.mark-sky в своем городе
      .city-section__line
      .city-section__sub-title.font-w-regular.font-s-32.text-up
        | и получайте 
        span.mark-sky от 410 000 рублей 
        br
        | чистой прибыли ежемесячно
      .city-section__bottom
        .city-section__bottom-text
          .font-w-bold.font-s-18.text-up Проверьте, свободен ли ваш город <br> для работы по франшизе «VEDOM»
          img.city-section__icon(src="images/city-section-icon.svg" loading="lazy" width="37" height="37" alt="icon")
        form.city-section__form(data-feedback-form)
          input.input.city-item(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
          input.input.city-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
          button.btn.city-item(type="submit") Получить
      img.city-section__img(src="images/city-section-img.png" loading="lazy" width="940" height="939" alt="image")

