footer.footer
  .wrapper
    .footer__container
      .footer__left
        img.footer__logo(src="images/footer-logo.png" loading="lazy" width="148" height="48" alt="logo")
        .footer__text
          .footer__brand.font-w-bold.font-s-18 © VEDOM, 2024
          .footer__privacy.font-w-regular.font-s-14
            a(href="#" data-remodal-target="privacy") Политика конфиденциальноти
      .footer__connection
        a(href="tel:+70000000000")
          img.footer__icon(src="images/footer-icon.svg" loading="lazy" width="38" height="33" alt="icon")
        include ../components/phone-number.pug

