section.invest-section
  .wrapper
    .invest-section__container
      img.invest-section__line1(src="images/invest-section-line.png" loading="lazy" width="1272" height="22" alt="line")
      img.invest-section__line2(src="images/invest-section-line.png" loading="lazy" width="1272" height="22" alt="line")
      h2.invest-section__title
        img.invest-section__title-icon(src="images/invest-section-title.png" loading="lazy" width="1180" height="106" alt="icon")
      .swiper-invest
        .invest-section__cards.swiper-wrapper
          .invest-section__card.color-black.swiper-slide
            .font-w-bold.font-s-24
              | Шаг 1
              span.font-s-16 /11
            .font-w-os-bold.font-s-18
              | Заключение
              br
              | договора 
              span.font-w-os-regular франшизы
          .invest-section__card.color-black.swiper-slide
            .font-w-bold.font-s-24
              | Шаг 2
              span.font-s-16 /11
            .font-w-os-bold.font-s-18
              | Обучение
              br
              span.font-w-os-regular руководителя
          .invest-section__card.color-black.swiper-slide
            .font-w-bold.font-s-24
              | Шаг 3
              span.font-s-16 /11
            .font-w-os-bold.font-s-18
              | Поиск подходящего 
              br.no-br-md
              | помещения 
              span.font-w-os-regular и 
              br.no-br-md
              span.font-w-os-regular заключение договора 
              br.no-br-md
              span.font-w-os-regular аренды
          .invest-section__card.color-black.swiper-slide
            .font-w-bold.font-s-24
              | Шаг 4
              span.font-s-16 /11
            .font-w-os-bold.font-s-18
              | Покупка 
              span.font-w-os-regular склада-
              br
              span.font-w-os-regular контейнера
          .invest-section__card.color-black.swiper-slide
            .font-w-bold.font-s-24
              | Шаг 5
              span.font-s-16 /11
            .font-w-os-bold.font-s-18
              span.font-w-os-regular Оформление 
              | ИП
              br
              | или ООО
          .invest-section__card.color-black.swiper-slide
            .font-w-bold.font-s-24
              | Шаг 6
              span.font-s-16 /11
            .font-w-os-bold.font-s-18
              span.font-w-os-regular Поиск 
              | персонала
          .invest-section__card.color-black.swiper-slide
            .font-w-bold.font-s-24
              | Шаг 7
              span.font-s-16 /11
            .font-w-os-bold.font-s-18
              span.font-w-os-regular Запуск 
              | рекламы
          .invest-section__card.color-black.swiper-slide
            .font-w-bold.font-s-24
              | Шаг 8
              span.font-s-16 /11
            .font-w-os-bold.font-s-18
              span.font-w-os-regular Закупка 
              | необходимого 
              br
              | оборудования 
              span.font-w-os-regular и 
              br
              span.font-w-os-regular инструментов
          .invest-section__card.color-black.swiper-slide
            .font-w-bold.font-s-24
              | Шаг 9
              span.font-s-16 /11
            .font-w-os-bold.font-s-18
              | Обучение 
              br
              span.font-w-os-regular персонала
          .invest-section__card.color-black.swiper-slide
            .font-w-bold.font-s-24
              | Шаг 10
              span.font-s-16 /11
            .font-w-os-bold.font-s-18
              | Заключение 
              span.font-w-os-regular первых 
              br
              | договоров 
              span.font-w-os-regular подряда
          .invest-section__card.color-sky.swiper-slide
            .font-w-bold.font-s-24
              | Шаг 11
              span.font-s-16 /11
            .font-w-os-bold.font-s-18
              | Официальное
              br
              | открытие
        .invest-pagination.swiper-progress-invest
      .invest-section__bottom
        img.invest-section__img(src="images/invest-section-img.png" loading="lazy" width="177" height="300" alt="image")
        .invest-section__bottom-left
          .font-w-bold.font-s-28.mark-sky
            | Работаем строго
            br
            | по договору,
          .font-w-regular.font-s-24
            | в котором описаны наши обязанности
            br
            | и все условия сотрудничества
        .invest-section__bottom-right
          img.invest-section__logo-name(src="images/invest-section-logo-name.png" loading="lazy" width="128" height="25" alt="icon")
          button.btn(data-remodal-target="modal-form-agreement") скачать пример договора
      //- .swiper-invest
      //-   .invest-section__cards.swiper-wrapper
      //-     .invest-section__card.swiper-slide
      //-       .font-w-ledger.font-s-40.text-up LITTLE
      //-       .font-w-ledger.font-s-20.text-up.mark-yellow BERNIE'S PUB
      //-       .invest-section__line-white
      //-       span.font-s-16 Площадь: 
      //-       span.font-s-20 от 120 м2
      //-       .invest-section__line-yellow
      //-       .font-s-16 Скачайте подробное описание формата <br> и финансовую модель
      //-       form.invest-section__form(data-feedback-form)
      //-         input.input.invest-item(type="text" name="name" autocomplete="off" placeholder="Имя")
      //-         input.input.invest-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
      //-         button.btn(type="submit") узнать
      //-     .invest-section__card.swiper-slide
      //-       .font-w-ledger.font-s-40.text-up.invest-section__card-item-2 BERNIE'S PUB
      //-       .font-w-ledger.font-s-20.text-up.mark-yellow 
      //-       .invest-section__line-white
      //-       span.font-s-16 Площадь: 
      //-       span.font-s-20 от 180 м2
      //-       .invest-section__line-yellow
      //-       .font-s-16 Скачайте подробное описание формата <br> и финансовую модель
      //-       form.invest-section__form(data-feedback-form)
      //-         input.input.invest-item(type="text" name="name" autocomplete="off" placeholder="Имя")
      //-         input.input.invest-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
      //-         button.btn(type="submit") узнать
      //-     .invest-section__card.swiper-slide
      //-       .font-w-ledger.font-s-40.text-up BIG
      //-       .font-w-ledger.font-s-20.text-up.mark-yellow BERNIE'S PUB
      //-       .invest-section__line-white
      //-       span.font-s-16 Площадь: 
      //-       span.font-s-20 от 250 м2
      //-       .invest-section__line-yellow
      //-       .font-s-16 Скачайте подробное описание формата <br> и финансовую модель
      //-       form.invest-section__form(data-feedback-form)
      //-         input.input.invest-item(type="text" name="name" autocomplete="off" placeholder="Имя")
      //-         input.input.invest-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
      //-         button.btn(type="submit") узнать
      //-   .invest-pagination.swiper-progress-invest
