section.presentation-section
  .wrapper
    .presentation-section__container
      h2.presentation-section__title.font-w-bold.font-s-44.text-up
        span.mark-br Примеры 
        | выполненных 
        br.no-br
        | работ и сданных объектов
      .swiper-desktop
        .presentation-section__cards.swiper-wrapper
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img1.jpg" loading="lazy" width="380" height="430" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img2.jpg" loading="lazy" width="380" height="430" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img3.jpg" loading="lazy" width="380" height="430" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img4.jpg" loading="lazy" width="380" height="430" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img5.jpg" loading="lazy" width="380" height="430" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img6.jpg" loading="lazy" width="380" height="430" alt="image")
        .desktop-pagination.swiper-pagination
        .swiper-button
          button.button-next(aria-label="prev")
            img(src="images/presentation-section-btn.png" loading="lazy" width="56" height="56" alt="prev")
          button.button-prev(aria-label="next")
            img(src="images/presentation-section-btn.png" loading="lazy" width="56" height="56" alt="next")
    .presentation-section__bottom

