section.start-section
  .wrapper
    .start-section__container.text-center
      h2.start-section__title.font-w-bold.font-s-44.text-up
        | Выберите 
        span.mark-sky свой формат
        br.no-br
        | для успешного старта
      .start-section__sub-title.font-w-bold.font-s-22
        | Для этого мы подготовили 
        span.mark-sky 3 формата 
        | партнерства
      .swiper-start
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            .start-section__card-title-1.font-w-bold.font-s-22 Формат 1
            .font-w-os-regular.font-s-16 Вид работ:
            .start-section__card-sub-title.font-w-bold.font-s-26.text-up Отделочные <br> работы
            .start-section__card-line
            .start-section__card-text.font-w-os-regular.font-s-16 Скачайте подробное описание <br class="no-br-md"> формата и финансовую модель
            button.btn.btn--bg-black(data-remodal-target="modal-form-investments") Скачать
          .start-section__card.swiper-slide
            .start-section__card-title-2.font-w-bold.font-s-22 Формат 2
            .font-w-os-regular.font-s-16 Вид работ:
            .start-section__card-sub-title.font-w-bold.font-s-26.text-up Строительство <br> фундаментов
            .start-section__card-line
            .start-section__card-text.font-w-os-regular.font-s-16 Скачайте подробное описание <br class="no-br-md"> формата и финансовую модель
            button.btn.btn--bg-black(data-remodal-target="modal-form-investments") Скачать
          .start-section__card.swiper-slide
            .start-section__card-title-3.font-w-bold.font-s-22 Формат 3
            .font-w-os-regular.font-s-16 Вид работ:
            .start-section__card-sub-title.font-w-bold.font-s-26.text-up Общестроительные <br> работы
            .start-section__card-line
            .start-section__card-text.font-w-os-regular.font-s-16 Скачайте подробное описание <br class="no-br-md"> формата и финансовую модель
            button.btn.btn--bg-black(data-remodal-target="modal-form-investments") Скачать
        .start-pagination.swiper-progress-start
      img.start-section__img(src="images/start-section-img.png" loading="lazy" width="501" height="810" alt="image")
