.finances-section
  background-image: url('../images/finances-section-bg.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-color #fff

  &__container
    position relative
    padding 20px 0 20px 0
    +above($breakpoints.sm)
      padding 40px 0 30px 0
    +above($breakpoints.md)
      padding 80px 0 50px 0
    +above($breakpoints.xxl)
      padding 112px 0 76px 0

  &__header
    position relative
    background-image: url('../images/finances-section-header-bg.jpg')
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    background-color $color-blue
    border-radius: 20px
    padding 15px 0 15px 15px
    +above($breakpoints.sm)
      padding 30px 0 30px 30px
      border-radius: 35px
    +above($breakpoints.md)
      padding 50px 0 40px 40px
    +above($breakpoints.xxl)
      padding 90px 0 69px 61px

  &__line
    display: none
    +above($breakpoints.sm)
      display: block
      width 70px
      height: 3px
      background-color #215DFF
    +above($breakpoints.md)
      width 135px
      height: 7px

  &__title
    +above($breakpoints.sm)
      padding-top 20px
    +above($breakpoints.md)
      padding-top 35px

  &__header-img
    position: absolute
    width 150px
    height: auto
    bottom: 0
    right: 0
    +above($breakpoints.sm)
      width 330px
      right: 59px
    +above($breakpoints.md)
      width 500px
    +above($breakpoints.xxl)
      right: 83px
      width 666px

  &__header-icon
    position: absolute
    position: absolute;
    width: 70px;
    height: auto;
    bottom: 25px;
    right: 76px;
    +above($breakpoints.sm)
      bottom: 50px;
      right: 237px;
      width: 135px;
    +above($breakpoints.md)
      bottom: 85px;
      right: 340px;
      width: 195px;
    +above($breakpoints.xxl)
      bottom: 64px;
      right: 394px;
      width: 325px;

  &__content
    position relative
    color: #141414
    padding: 20px 0 20px 0
    +above($breakpoints.sm)
      padding: 40px 0 50px 0
    +above($breakpoints.md)
      padding: 60px 0 70px 0
    +above($breakpoints.xxl)
      padding: 78px 0 96px 20px

  &__item
    width 100%
    max-width 308px
    background-color #00216220
    border-radius: 15px
    padding 20px 20px 20px 20px
    display: flex
    flex-direction: row
    gap: 14px
    +above($breakpoints.sm)
      max-width 726px
    +above($breakpoints.md)
      position: absolute
      top: 60px
      left: 0
      padding 30px 23px 39px 23px
      flex-direction: column
      max-width 230px
    +above($breakpoints.xxl)
      top: 78px
      max-width 272px

  &__cards
    padding 20px 0 0 0
    +above($breakpoints.sm)
      padding 30px 0 0 0
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content center
      gap: 10px
    +above($breakpoints.md)
      padding 0
      justify-content flex-end
    +above($breakpoints.xxl)
      padding 0
      gap: 30px

  &__card
    width 270px !important
    height: 195px
    padding: 20px 10px 20px 20px
    background-color #F8F8F8
    border-radius: 15px
    +above($breakpoints.sm)
      width 234px !important
    +above($breakpoints.md)
      width 235px !important
      height: 220px
    +above($breakpoints.xxl)
      width 270px !important
      height: 280px
      padding: 38px 10px 45px 33px

  &__card-title
    padding 26px 0 10px 0
    color: #000

  &__bottom
    background-image: url('../images/finances-section-bottom-bg.png')
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    background-color $color-blue
    border-radius: 15px
    padding 20px 20px 20px 20px
    +above($breakpoints.sm)
      padding 25px 10px 30px 20px
    +above($breakpoints.md)
      padding 30px 10px 40px 30px
    +above($breakpoints.xxl)
      padding 39px 10px 44px 57px

  &__bottom-inner
    display: flex
    flex-direction: row
    align-items: center
    gap: 10px
    text-align: center
    +above($breakpoints.sm)
      text-align: start
      gap: 34px

  &__bottom-icon
    width 25px
    height: auto
    +above($breakpoints.sm)
      width 51px

  &__bottom-title
    text-align: center
    padding 20px 0 20px 0
    +above($breakpoints.sm)
      text-align: start
      padding 32px 0 20px 0

  &__bottom-form
    display: flex
    flex-direction: column
    justify-content center
    align-items: center
    gap: 8px
    +above($breakpoints.sm)
      justify-content start
      flex-direction: row

.finances-item
  width 245px !important
  +above($breakpoints.sm)
    width 220px !important
  +above($breakpoints.md)
    width 245px !important
