.swiper-finances
  margin: 0 auto
  width 270px !important
  +above($breakpoints.sm)
    width 100% !important

.swiper-invest
  margin: 0 auto
  width 276px !important
  +above($breakpoints.sm)
    width 100% !important

.swiper-present
  margin: 0 auto
  width 280px !important
  +above($breakpoints.sm)
    width 100% !important

.swiper-start
  margin: 0 auto
  width 300px !important
  +above($breakpoints.sm)
    width 235px !important
  +above($breakpoints.md)
    width 315px !important
  +above($breakpoints.xxl)
    width 380px !important

.swiper-desktop
  margin: 0 auto
  width 280px !important
  overflow: hidden
  +above($breakpoints.sm)
    width 100% !important
    overflow: hidden
  +above($breakpoints.md)
    width 100% !important
    overflow: hidden
  +above($breakpoints.xxl)
    width 100% !important
    overflow: hidden